p {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 130%;
   }

body {   
background-color: lightblue;
}

h1 {
    color: red;
    text-align: center;
}

a:link, a:visited {
    background-color: navy;
    color: white;
    font-family:Arial, sans-serif;
    padding: 17px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: red;
}

img {
        margin: auto;
}
