p {
    font-family: Arial, sans-serif;
     }
   
backround-color: violet;

a:link, a:visited {
    background-color: lightblue;
    color: white;
    padding: 17px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: red;
}
